<div id="main" class='about'>
    <article class="post">
        <header>
            <div class="title">
                <h2>ZHANG WEI</h2>
                <p>一个热爱前端 懂点后端 喜欢学习和设计 的程序媛</p>
            </div>
            <div class="meta">
               <img src="https://avatars.githubusercontent.com/u/18528957?s=400&u=6d2a4ee5c41d215e8771d75faf3b743928009421&v=4" alt="">
            </div>
        </header>
</div>
